        <footer>
            Develop and design by Clément Garrigues - 2019
            <br>
            - I bless the rains down in Africa - 
        </footer>
        <script src="/main.js"></script>
    </body>
</html>