<%- include('_header'); -%>

<body>
    <header>
        <h4>Kizz</h4>
        <% if(user != null){ %>
        <h6>
            <%=user.username%>
        </h6>
        <a href='logout'><button>Log Out</button></a>
        <% }else{ %>
        <a href='login'><button>Log In</button></a>
        <% }%>
    </header>

    <div>
    </div>

    <%- include('_footer'); -%>