<%- include('_header'); -%>

<body>
    <header>
        <div class="div-header">
            <div class="div-icon-title">
                <img class="img_Icon" src="/img/KizzIcon.png" alt="KizzIcon">
                <h2>Kizz</h2>
            </div>
            <% if(user != null){ %>
            <div class="div-log">
                <h6><%=user.username%></h6>
                <a href='logout'><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">LogOut</button></a>
            </div>
            <% }else{ %>
            <a href='login'><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">LogIn</button></a>
            <% }%>
        </div>
    </header>

    <div>
        <form action="/" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="pin_quizz">
                <label class="mdl-textfield__label" for="pin_quizz">Enter quizz pin</label>
            </div>
        
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="pseudo">
                <label class="mdl-textfield__label" for="pseudo">Choose a pseudo</label>
            </div>
            <button id="enter_Quizz" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >
                Connect to Lobby
            </button>
            
        </form>

    </div>
    


    <script src="/socket.io/socket.io.js"></script>
    <script> 
    
        document.getElementById("enter_Quizz").addEventListener("click", (event) => {
            event.preventDefault();
            var quizzPin = document.getElementById('pin_quizz').value;
            var pseudo = document.getElementById('pseudo').value;

            var socket = io('/quizz'+quizzPin);
            socket.on('MessageConnection', function(message) {
                if(message == 'Connected'){
                    console.log('MessageConnection OK');
                    socket.emit('Eventpseudo', pseudo);
                }else{
                    console.log('error MessageConnection');
                }
            });   
        });
    </script>
    <%- include('_footer'); -%>