<%- include('_header'); -%>

<body>
    <header>
        <div class="div-header">
            <div class="div-icon-title">
                <img class="img_Icon" src="/img/KizzIcon.png" alt="KizzIcon">
                <h2>Kizz</h2>
            </div>
            <% if(user != null){ %>
            <div class="div-log">
                <h6><%=user.username%></h6>
                <a href='logout'><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">LogOut</button></a>
            </div>
            <% }else{ %>
            <a href='login'><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">LogIn</button></a>
            <% }%>
        </div>
    </header>

    <div id="homeNotConnected">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="pin_quizz">
            <label class="mdl-textfield__label" for="pin_quizz">Enter quizz pin</label>
        </div>
    
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="pseudo">
            <label class="mdl-textfield__label" for="pseudo">Choose a pseudo</label>
        </div>
        <button id="enter_Quizz" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >
            Connect to Lobby
        </button>  
    </div>

    <div id="HomeLobby">
            <div class ="OnHomeLobby">
                <h4>Waiting for players to join the quizz</h4>
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>            
            
            <div class ="OnHomeLobby">
                <h4>Connected Players</h4>
                <ul id="id_li_Connected_player">
                </ul>
            </div>
    </div>
        


    <div id="duringQuizz">
        <div class="questAnswer">
            <div>
                <h4 id="Text_question"></h4>
            </div>
            <div> 
                <h4 id="Time_Left"></h4>
            </div>
        </div>
        
        <div class="questAnswer">
            <div>
                <h4 id="IsAnswerCorrect"></h4>
            </div>
            <div>
                <h4 id="point"></h4>
            </div>
        </div>

        

        <div id='div_answers_btn'>
            <div id='div_answers1-2_btn'>
                <div id="answer1_btn">
                    <button id="answer1" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    </button>
                </div>
                <div id="answer2_btn">
                    <button id="answer2" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    </button>
                </div>
            </div>
            <div id='div_answers3-4_btn'>
                <div id="answer3_btn">
                    <button id="answer3" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    </button>
                </div>
                <div id="answer4_btn">
                    <button id="answer4" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    </button>
                </div>
            </div> 
        </div>   
    </div>

    <div id="endQuizz">
        <h2>Quizz Finish !!</h2>
        <h2 id='finalScore'></h2>
        <a href='/'><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Fermer</button></a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/player.js"></script>
    <%- include('_footer'); -%>