<%- include('_header'); -%>
    <body>
        <header>
            <h4>Kizz</h4>
                <%console.log(username);%>
                <a href='logout'><button>Log Out</button></a>
                <a href='login'><button>Log In</button></a>
        </header>

    <div>
    </div>

<%- include('_footer'); -%>