
.question{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.Answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}