<%- include('../_header'); -%>

<body>
    <header>
        <div class="div-header">
            <div class="div-icon-title">
                <img class="img_Icon" src="/img/KizzIcon.png" alt="KizzIcon">
                <h2>Kizz</h2>
            </div>
            <% if(user != null){ %>
            <div class="div-log">
                <h6><%=user.username%></h6>
                <a href='logout'><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">LogOut</button></a>
            </div>
            <% }else{ %>
            <a href='login'><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">LogIn</button></a>
            <% }%>
        </div>
    </header>


    <form action="/quizz/create" method="POST">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="title" name="title">
            <label class="mdl-textfield__label" for="title">Title</label>
        </div>

        <div id="questions">
                
        </div>

        <button id='btn_Add_Question' class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >
            Create
        </button>
    </form>

    <script src="/main.js"></script>
    <%- include('../_footer'); -%>