<%- include('../_header'); -%>

<body>
    <header>
        <h4>Kizz</h4>
    </header>

    <form action="/quizz/create" method="POST">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="title" name="title">
            <label class="mdl-textfield__label" for="title">Title</label>
        </div>

        <div id="questions">
                
        </div>

        <button id='btn_Add_Question' class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >
            Create
        </button>
    </form>

  
    <%- include('../_footer'); -%>